# Payment Service Configuration
PORT=4004
NODE_ENV=development
# DB_URL=mongodb://127.0.0.1:27017/fastfood_payments
DB_URL=mongodb+srv://0011andanh:%40123456@cluster0.m8f5azj.mongodb.net/fastfood_payments_2?retryWrites=true&w=majority
KAFKA_URL=127.0.0.1:9092
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=cnpm-payment-service
KAFKA_GROUP_ID=cnpm-payment-service-group

# VNPay Configuration
# Thông tin cấu hình VNPay Sandbox
# Terminal ID / Mã Website
vnp_TmnCode=ZTUCV5PD
# Secret Key / Chuỗi bí mật tạo checksum
vnp_HashSecret=7C8D38HPV4NFVI21LF2F05QJ37Q4N09N
# Url thanh toán môi trường TEST
vnp_Url=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
# URL callback sau khi thanh toán (Frontend)
vnp_ReturnUrl=http://localhost:3475/payment/vnpay/callback
# Ngôn ngữ (vn hoặc en)
vnp_Locale=vn
