.product-images-slider {
  .swiper-slide {
    height: 400px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-button-prev {
    left: 0;
    color: #000;
    &::after {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .swiper-button-next {
    right: 0;
    color: #000;
    &::after {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.product-images-slider-thumbs {
  .swiper-slide {
    cursor: pointer;
    // border: 1px solid #dddbdb;
    &-thumb-active {
      border: 1px solid blue;
    }
  }
  &-wrapper {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
