PORT=4006
NODE_ENV=development
# DB_URL=mongodb://127.0.0.1:27017/fastfood_restaurants
KAFKA_URL=127.0.0.1:9092
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=cnpm-restaurant-service
KAFKA_GROUP_ID=cnpm-restaurant-service-group

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Service URLs for stats calculation
ORDER_SERVICE_URL=http://localhost:4003
PRODUCT_SERVICE_URL=http://localhost:4002
DB_URL=mongodb+srv://0011andanh:%40123456@cluster0.m8f5azj.mongodb.net/fastfood_restaurants?retryWrites=true&w=majority