PORT=4002
NODE_ENV=development
# DB_URL=mongodb://127.0.0.1:27017/fastfood_products
KAFKA_URL=127.0.0.1:9092
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=cnpm-product-service
KAFKA_GROUP_ID=cnpm-product-service-group
DB_URL=mongodb+srv://0011andanh:%40123456@cluster0.m8f5azj.mongodb.net/fastfood_products?retryWrites=true&w=majority
