PORT=4007
NODE_ENV=development
# DB_URL=mongodb://localhost:27017/fastfood_drones
DB_URL=mongodb+srv://0011andanh:%40123456@cluster0.m8f5azj.mongodb.net/fastfood_drones?retryWrites=true&w=majority
ORDER_SERVICE_URL=http://localhost:4003
API_GATEWAY_URL=http://localhost:5001
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=cnpm-drone-service
KAFKA_GROUP_ID=cnpm-drone-service-group
